/* *{
   
} */

body {
    background-color: #eee;
}
#title-part {
    color: yellowgreen;
}
.capital {
    font-weight: bolder;
    font-size: 24px;
}
section.container {
    background-color: white;
    border: 10px solid indigo;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
   /* Comments: CTRL + / or Cmd + / */
   /* margin: margin-top margin-right margin-bottom margin-left */
   /* it's 0 top and go clockwise, auto right etc etc */
    margin: 0 auto 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
h1 {
    font-size: 35px;
}
h1, h2 {
    text-align: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    background-color: #ddd;
}
td {
    padding: 5px 10px;
}
th, td {
    border: 1px solid gray;
}
.highlighted{
    background-color: yellow;
}
